// Created on 10.11.2014.

doctype html
html
   head
      script(src='/js/script.js')
      link(rel='stylesheet', href='/css/style.css')
   body
      button#btn_getUserMedia(onclick="getUserMedia_click()") getUserMedia
      button#btn_createOffer(onclick="createOffer_click()") createOffer
      br
      video#localVideo1(autoplay="true")
      br
      video#remoteVideo1(autoplay="true")
      br
      video#remoteVideo2(autoplay="true")
      br
      button#btnHangup(onclick="btnHangupClick()") Hang Up